<footer>
  <div class='container'>
    <ul class='footer-menu'>
      <li>© 2022 はやまっぷ |</li>
      <li><%= link_to '利用規約', term_path, class: "link" %></li>
      <li>|</li>
      <li><%= link_to 'プライバシーポリシー', privacy_policy_path, class: "link" %></li>
      <li>|</li>
      <li><%= link_to 'お問い合わせ', inquiry_path, class: "link" %></li>
    </ul>
  </div>
</footer>