.inquiry{
  background: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inquiry-text{
  background: #fff;
  text-align:center;
}

.inquiry-img img{
  width: 500px;
  padding-bottom: 1rem;
}