<div class='inquiry'>
  <div class='inquiry-text'>
    <div class='inquiry-img'>
      <%= image_tag 'hayamap.png', class: 'd-block mx-auto img-fluid'%>
    </div>
    <p>はやまっぷをご利用いただきありがとうございます。<br>
    サービスの利用に関するお問い合わせ、不具合の報告などがございましたら、<br>
    お手数ですが、下記のメールアドレスまでご連絡ください。<br>
    hayamapcontact@gmail.com</p>
  </div>
</div>